.yes {
    background-color: rgb(121, 13, 13);
  }
    


}
#name {
    font-family:'helvetica neue';
    font-size: 40px;
    top: 0;
    margin: 0px;


}
#logo {
    width: 200px;
    height: 52px;
    padding-top: 15px;
    

}
#heart {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    font-size: 60px;
    padding-bottom: 0px;
    margin: 0px;
    font-weight: 550;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.4;
    }
}
#name {
    background-color: rgba(85, 10, 10, 0.671);
    text-align: center;
    top: 2px;
    left: 50%;
    margin: 0px;
    
  }
#human {

text-decoration: underline rgba(134, 5, 5, 0.671);    
font-size: 100px;
margin: 0px;
text-align: center;
}
a {
    display: flex;
    align-content: row-reverse;
}
#yemen {
    font-size: 55px;
    color: rgb(0, 0, 0);
    
}
#ydes {
    width: 1200px;
    font-size: 30px;
}
#donate {
    list-style-type: none;
    font-size: 35px;
}
#yemenn {
    width: 650px;
    float: right;
    margin: 0;
    top: 40%;
    left: 12%;
    transform: translate(152%, -20%);
    position: absolute;
    border: solid rgb(109, 4, 4) 5px;
}
#mercy {
    border: solid rgb(114, 3, 3) 2px;
}
#irc {
    border: solid rgb(117, 2, 2) 2px;
}
#relief {
    border: solid rgb(173, 5, 5) 2px;
}



#syria {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-decoration: underline black;
    
}
#sdes {
    width: 1200px;
    font-size: 35px;
}
#donatee {
    list-style-type: none;
    font-size: 35px;
}
#syriaa {
    width: 600px;
    float: right;
    margin: 0;
    top: 163%;
    left: 18%;
    transform: translate(152%, -20%);
    position: absolute;
    border: solid rgb(255, 0, 0) 5px;
}
#mercyy {
    border: solid rgb(248, 55, 55) 2px;
}
#ircc {
    border: solid rgb(255, 53, 53) 2px;
}
#relieff {
    border: solid rgb(255, 53, 53) 2px;
}




#congo {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-decoration: underline rgb(255, 255, 255);
    
}
#cdes {
    width: 1200px;
    font-size: 35px;
}
#donateee {
    list-style-type: none;
    font-size: 35px;
}
#congoo {
    width: 550px;
    float: right;
    margin: 0;
    top: 283%;
    left: 24.5%;
    transform: translate(152%, -20%);
    position: absolute;
    border: solid rgb(255, 0, 0) 5px;
}
#mercyyy {
    border: solid rgb(248, 55, 55) 2px;
}
#irccc {
    border: solid rgb(255, 53, 53) 2px;
}
#reliefff {
    border: solid rgb(255, 53, 53) 2px;
}